<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books Page</title>
    <style>
        table{
            border-collapse: collapse;
        }
        th,td{
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1> Books Page </h1>
<p th:text="${messageFromInterceptor}"></p>
<a href="/book/add">Add New Book</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${books}" th:object="${book}">
            <td th:text="*{id}"></td>
            <td th:text="*{title}"></td>
            <td th:text="*{author}"></td>
            <td>
                <a th:href="@{/book/delete/{id}(id=*{id})}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>